
.minesweeper {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: inline-block;
}

.cell {
    text-align: center;

    border: solid;
}

/* undiscovered cell */
.undiscovered {
    color: white;
    font-weight: bold;

    background-color: #A5D6A7;
    border-color: #66BB6A;
}

.undiscovered:hover {
    cursor: pointer;

    background-color: #C8E6C9;
}

.locked {
    cursor: default;
    pointer-events: none;
}

.locked:hover {
    cursor: default;
}

/* normal discovered cell */
.normal-discovered {
. locked;

    color: darkblue;
    font-weight: bold;

    background-color: aliceblue;
    border-color: lightsteelblue;
}

/* mine cell */
.mine {
. locked;

    background-color: indianred;
    border-color: darkred;
}