
table {
    width: 500px;
    height: 500px;

    border: 1px solid;
}

.cell {
	width: auto;
	height: auto;
	
	border: 1px solid;
    border-radius: 5px;
}

.locked {
    background-color: seagreen;
}

.locked:hover {
	cursor: pointer;
    background-color: mediumseagreen;
}

.unlocked {
    text-align: center;

    background-color: aliceblue;
    color: darkblue;
}

.mine {
	background-color: red;
}